:root {
  --cl1: #fff8f0;
  --cl2: #c08552;
  --cl3: #8c5a3c;
  --cl4: #4b2e2b;
}
body{
    margin: 0;
}
.header{
    height: 10vh;
    width: 100%;
    background-color: var(--cl2);
    position: sticky;
    top:0;
    position: -webkit-sticky;
    display: grid;
    /* justify-content: center; */
    /* align-content: center; */
    /* padding: 2px; */
    gap:5px;
    grid-template-columns: 1fr 2fr 1fr;
}
.header div{
    /* border: groove; */
    /* margin: 5px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100%;

}
.header-name-box{
    justify-content: center;
}
.header-name{
    font-size: 250%;
}
.search-bar{
    width: 100%;
    height: 50%;
    border: none;
    border-top-left-radius:7px;
    border-bottom-left-radius:7px;
    padding: 5px;
    background-color: var(--cl1);
}
.search-bar:hover + .search-btn,
.search-bar:hover{
    box-shadow: 5px 5px 3px 2px var(--cl3);
    transition-duration: 300ms;
}
.search-btn{
    background-color:var(--cl1);
    height: 50%;
    padding: 5px;
    border: none;
    display: grid;
    place-content: center;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
    font-size: 150%;
}
.search-btn:hover{
    font-size: 200%;
    transition-duration: 300ms;
}
.header-btn-set{
    justify-content: space-evenly;
}
.header-btn-box{
    display: flex;
    
}
.header-btn{
    /* border: groove;   */
    font-size: 150%;
}
.header-btn:hover{    
    font-size: 180%;    
    transition-duration: 300ms;
}
.header-btn-count{
    font-size: 20px;
    color: var(--cl1);
}
.header-btn-lout{
    font-size: 20px;
    color: var(--cl1);
}
.header-btn-lout:hover{
    font-size: 22px;   
    transition-duration: 300ms;
}


